# private / large files
.env
.env.production
.pdm-python

/profile

# auto generated
__pycache__/
.ipynb_checkpoints/
.pnpm-store/
.venv/
dist/
dist-ssr/
node_modules/
icons/
target/

/package-lock.json

*.tsbuildinfo

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS-specific files
.DS_Store
