@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    /* Eva Light */

    --background: 222 33% 94%;
    --foreground: 240 1% 37%;

    --card: 222 33% 92%;
    --card-foreground: 240 1% 32%;

    --popover: 222 33% 91%;
    --popover-foreground: 240 1% 27%;

    --primary: 223 3% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 75%;
    --secondary-foreground: 0 0% 15%;

    --muted: 222 12% 90%;
    --muted-foreground: 222 12% 30%;

    --accent: 222 33% 79%;
    --accent-foreground: 222 33% 19%;

    --destructive: 10 87% 22%;
    --destructive-foreground: 10 87% 82%;

    --info: 214 48% 73%;
    --info-foreground: 214 48% 13%;
    --success: 108 34% 66%;
    --success-foreground: 108 43% 7%;
    --warning: 31 40% 69%;
    --warning-foreground: 31 40% 9%;
    --error: 3 40% 69%;
    --error-foreground: 3 40% 9%;

    /* 背景無しで表示する場合の色 */
    --error2-foreground: 0 84% 40%;

    --border: 222 23% 89%;
    --input: 222 23% 86%;
    --ring: 223 3% 48%;

    --radius: 0.5rem;
  }

  .dark {
    /* Eva Dark */

    --background: 220 13% 18%;
    --foreground: 218 13% 66%;

    --card: 220 13% 16%;
    --card-foreground: 218 13% 71%;

    --popover: 220 13% 15%;
    --popover-foreground: 218 13% 76%;

    --primary: 225 35% 70%;
    --primary-foreground: 225 35% 10%;

    --secondary: 225 25% 25%;
    --secondary-foreground: 225 25% 85%;

    --muted: 220 12% 22%;
    --muted-foreground: 220 12% 72%;

    --accent: 220 13% 33%;
    --accent-foreground: 220 13% 93%;

    --destructive: 4 88% 45%;
    --destructive-foreground: 0 0% 100%;

    --info: 203 51% 24%;
    --info-foreground: 203 51% 84%;
    --success: 123 40% 23%;
    --success-foreground: 123 40% 83%;
    --warning: 49 51% 24%;
    --warning-foreground: 49 51% 84%;
    --error: 2 40% 23%;
    --error-foreground: 2 40% 83%;

    /* 背景無しで表示する場合の色 */
    --error2-foreground: 0 84% 70%;

    --border: 220 3% 23%;
    --input: 220 3% 26%;
    --ring: 225 35% 70%;
  }

  .colorful {
    /* Noctis Lux */

    --background: 40 90% 96%;
    --foreground: 187 100% 19%;

    --card: 40 90% 94%;
    --card-foreground: 187 100% 14%;

    --popover: 40 90% 93%;
    --popover-foreground: 187 100% 9%;

    --primary: 187 100% 34%;
    --primary-foreground: 0 0% 100%;

    --secondary: 187 30% 75%;
    --secondary-foreground: 187 30% 15%;

    --muted: 40 12% 90%;
    --muted-foreground: 40 12% 30%;

    --accent: 40 90% 81%;
    --accent-foreground: 40 90% 21%;

    --destructive: 7 82% 38%;
    --destructive-foreground: 7 82% 98%;

    --info: 214 48% 73%;
    --info-foreground: 214 48% 13%;
    --success: 108 34% 66%;
    --success-foreground: 108 43% 7%;
    --warning: 31 40% 69%;
    --warning-foreground: 31 40% 9%;
    --error: 3 40% 69%;
    --error-foreground: 3 40% 9%;

    /* 背景無しで表示する場合の色 */
    --error2-foreground: 0 84% 40%;

    --border: 40 80% 91%;
    --input: 40 80% 88%;
    --ring: 187 100% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    user-select: none;
  }
}
